.nn-note-row {
  &-actions {
    text-align: center;
  }

  &-handle {
    cursor: ns-resize;
    vertical-align: middle;
    position: relative;
    top: 4px;
  }

  &-ordinal {
    width: 100%;
  }
}
